.Join {
    background: linear-gradient(165deg, #2F4858, #515F75, #787690, #A18DA8, #CAA6BB, #F1C1CC);
    text-align: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}

.join-form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding: 20px;
    border-radius: 5px;
}

.join-form h1 {
    font-family: ExtraBold;
    font-size: 2.2rem;
    margin-bottom: 3rem;
    color: #fff;
}

.join-form label {
    display: block;
    font-family: Regular;
    text-align: left;
    color: #fff;
}

.image-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.image-group label {
    margin-left: 1.5rem;
    display: block;
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.3rem;
}

.profile-placeholder {
    margin-right: 1.5rem;
    min-width: 150px;
    min-height: 150px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 50%;
    background-image: url('../images/blankimg.png'); /* 배경 이미지 설정 */
    background-size: cover; /* 이미지가 컨테이너를 완전히 채우도록 조정 */
    background-position: center; /* 이미지를 중앙에 배치 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}

.profile-preview {
    margin-right: 1.5rem;
    min-width: 150px;
    min-height: 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; /* 이미지가 원형에 맞춰서 잘리도록 함 */
}

.name-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}


.join-group input, label {
    box-sizing: border-box; /* padding과 border를 너비에 포함 */
    width: 100%;
}

.join-group label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-size: 1rem; /* 텍스트 크기를 늘립니다 */
}

.join-group input {
    width: 100%;
    padding: 8px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.warning {
    text-align: left;
    color: red;
}

.create button {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 10px;
    background-color: #4E4351;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* 텍스트 크기를 늘립니다 */
}

.create button:hover {
    background-color: #302037;
}