.ctinr {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

.wt {
    color: white;
    width: max-content;
    margin-top: 5%;
    margin-left: 7%;
    font-size: 200%;
    font-family: Bold;
}