.fullWidthImage {
    width: 100vw; /* 뷰포트 너비에 맞춤 */
    height: auto; /* 이미지 비율을 유지하면서 높이 조정 */
}
.main-container {
    margin-top:5%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.section {
    margin-bottom: 2rem; /* 캐러셀 간의 간격을 조정 */
}

.white-text {
    color: white;
    width: max-content;
    margin-top: -1%;
    margin-bottom: -1%;
    margin-left: 7%;
    font-size: 200%;
    font-family: Bold;
}
