.welcome {
    position: absolute;
    left: 20%;
    top: 12%;
    color: white;
    font-family: ExtraBold;
}
.profile {
    margin-top: 5rem;
    width: 60%;
    height: 20%;
    position: absolute;
    left: 50%; /* 왼쪽에서 50% 위치에 상자의 왼쪽 모서리가 오도록 함 */
    top: 20%; /* 위에서 50% 위치에 상자의 상단 모서리가 오도록 함 */
    transform: translate(-50%, -50%); /* 상자의 중심을 정확히 브라우저 중심에 맞춤 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #ffffff;
}
.history {
    margin-top: 20%;
}
.history h2 {
    color: white;
    width: max-content;
    margin-top: -1%;
    margin-bottom: -1%;
    margin-left: 20%;
    font-size: 200%;
    font-family: Bold;
}
.profileImg {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 13%; /* 이미지 컨테이너의 너비를 .profile의 너비의 일정 비율로 설정 */
    height: 90%; /* 높이는 자동으로 설정하여 비율 유지 */
}

.profileImg img {
    border-radius: 50%;
    width: 100%; /* 이미지가 컨테이너의 너비에 맞추어져 조정 */
    height: 100%; /* 이미지의 높이는 자동으로 설정하여 비율 유지 */
    object-fit: cover;
}

.oneliner {
    position: absolute;
    max-width: 25%;
    word-break: break-all;
    left: 22%;
    top: 13%;
    font-size: 1.3rem;
    font-family: MediumItalic;
}

.tiertext {
    position: absolute;
    max-width: 25%;
    left: 22%;
    top: 43%;
    font-size: 1.2rem;
    font-family: Light;
}

.tier {
    color: #9A400A;
    font-family: Bold;
}

.divider1,
.divider2 {
    height: 70%;
    top: 15%;
    width: 2px;
    position: absolute;
    background-color: #CCC;
}

.divider1 {
    left: 50%;
}

.divider2 {
    left: 75%;
}

.ctn {
    position: absolute;
    top: 10%;
    left: 54%;
}

.contentnum {
    font-size: 1.1rem;
    font-family: Medium;
}

.vcn {
    position: absolute;
    top: 10%;
    left: 82%;
}

.vocabnum {
    font-size: 1.1rem;
    font-family: Medium;
}

.num {
    margin-top: 2rem;
    font-size: 1.3rem;
    font-family: SemiBold;
}

.myvocab h2 {
    color: white;
    width: max-content;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 20.5%;
    font-size: 200%;
    font-family: Bold;
}

.wordContainer {
    margin-top: 0rem;
    margin-bottom: 5%;
    margin-left: 20.5%;
    width: 60%;
    height: 100%; /* Adjust height as necessary */
    position: relative; /* Changed from absolute to relative */
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.wordEntry {
    flex: 0 0 20%; /* 카드의 너비를 200px로 고정 */
    height: 30%; /* 카드의 높이를 150px로 고정 */
    flex-direction: column; /* 항목들을 열로 정렬 */
    max-height: 300px; /* 카드의 최대 높이 설정, 필요에 따라 조정 */
    background: #FFFFFF; /* 배경색 */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* 그림자 효과 */
    padding: 1rem;
    border-radius: 10px; /* 모서리 둥글게 */
    text-align: center; /* 텍스트 왼쪽 정렬 */
    margin-bottom: 1rem; /* 카드 하단 여백 */
}
  
.term {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
}
  
.definition {
    font-size: 1rem;
    color: #666666;
}